module.exports = {
  aws: {
    region: 'us-west-2'
  },
  iot: {
    keyPath: './certs/xxx.private.key',
    certPath: './certs/xxx.cert.pem',
    caPath: './certs/root-CA.crt',
    host: 'xxx',
    interval: 10,
    topicFilters: {
      tripStart: 'trip-start-beta',
      tripData: 'trip-data-beta'
    }
  },
  mqtt: {
    connectionString: 'mqtt:/localhost:1883'
  }
};
