module.exports = {
  aws: {
    region: 'us-west-2'
  },
  iot: {
  	interval: 15,
    keyPath: './certs/xxx.private.key',
    certPath: './certs/xxx.cert.pem',
    caPath: './certs/root-CA.crt',
    host: 'xxx'
  }
};
